form{
    margin-top: 3rem;
    
}

form input[name="city"],
form input[name="country"]{
background-color: transparent;
color: blue;
margin-bottom: 5rem;
}

form input:focus{
    background-color:transparent!important;
    box-shadow: none !important;
}

form input::-webkit-input-placeholder{
    color:white !important;
}